// Default colors
$white: #ffffff;
$black: #000000;
$primary: #002d62;
$secondary: green;
$blue: #60a5fa;

// Gray
$gray-list: (
  "50": #f9fafb,
  "100": #f3f4f6,
  "200": #e5e7eb,
  "300": #d1d5db,
  "400": #9ca3af,
  "500": #6b7280,
  "600": #4b5563,
  "700": #374151,
  "800": #1f2937,
  "900": #111827,
);

$gray-50: map-get($gray-list, "50");
$gray-100: map-get($gray-list, "100");
$gray-200: map-get($gray-list, "200");
$gray-300: map-get($gray-list, "300");
$gray-400: map-get($gray-list, "400");
$gray-500: map-get($gray-list, "500");
$gray-600: map-get($gray-list, "600");
$gray-700: map-get($gray-list, "700");
$gray-800: map-get($gray-list, "800");
$gray-900: map-get($gray-list, "900");

// Dynamic background and color classes creation
@each $value in $gray-list {
  .background-gray-#{nth($value, 1)} {
    background-color: nth($value, 2) !important;
  }
  .color-gray-#{nth($value, 1)} {
    color: nth($value, 2) !important;
  }
}
