:root,
[data-theme="light"] {
  --h1: #{$blue-900};
  --h2: #{$blue-900};
  --h3: #{$blue-900};
  --h4: #{$blue-900};
  --nav-width: 5rem;
  --toggle: #{$blue-800};
  --background-color: #{$white};
  --primary-bg: #{$primary};
  --text-color: #{$gray-900};
  --text-muted: #{$gray-500};
  --link-color: #{$primary};
  --link-visited: #5b21b6;
  --icon: #{$gray-900};
  --flag: #{$black};
  --sidebar: #{$gray-50};
  --blockquote: #{$gray-300};
  --caption: #{$gray-500};
  --border: #{$gray-200};
  --logo: #002d62;
  --brand: #{$gray-950};
  --logoColor1: #fbbf24;
  --logoColor2: #ea580c;
  --logoColor3: #172554;
  --logoColor4: #2563eb;
  --logoColor5: #172554;
  --outline: none;
  --light: flex;
  --dark: none;
  --invert: invert(0);
  --button: #{$blue-950};
  --toc-header: #{$gray-100};
  --toc-header-hover: #{$gray-200};
  --text-muted: #6c757d;
  --outcomes: #{$blue-100};
  --outcomes-stroke: #{$blue-400};
  --tools: #{$yellow-100};
  --tools-stroke: #{$yellow-400};
  --resources: #{$orange-100};
  --resources-stroke: #{$orange-400};
  --faq: #{$gray-100};
  --faq-stroke: #{$gray-400};
  --tool-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fbbf24' d='M78.6 5C69.1-2.4 55.6-1.5 47 7L7 47c-8.5 8.5-9.4 22-2.1 31.6l80 104c4.5 5.9 11.6 9.4 19 9.4h54.1l109 109c-14.7 29-10 65.4 14.3 89.6l112 112c12.5 12.5 32.8 12.5 45.3 0l64-64c12.5-12.5 12.5-32.8 0-45.3l-112-112c-24.2-24.2-60.6-29-89.6-14.3l-109-109V104c0-7.5-3.5-14.5-9.4-19L78.6 5zM19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L233.7 374.3c-7.8-20.9-9-43.6-3.6-65.1l-61.7-61.7L19.9 396.1zM512 144c0-10.5-1.1-20.7-3.2-30.5c-2.4-11.2-16.1-14.1-24.2-6l-63.9 63.9c-3 3-7.1 4.7-11.3 4.7H352c-8.8 0-16-7.2-16-16V102.6c0-4.2 1.7-8.3 4.7-11.3l63.9-63.9c8.1-8.1 5.2-21.8-6-24.2C388.7 1.1 378.5 0 368 0C288.5 0 224 64.5 224 144l0 .8 85.3 85.3c36-9.1 75.8 .5 104 28.7L429 274.5c49-23 83-72.8 83-130.5zM56 432a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z'/%3E%3C/svg%3E");
  --outcome-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2360a5fa' d='M448 96c0-35.3-28.7-64-64-64L64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320zM256 160c0 17.7-14.3 32-32 32l-96 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l96 0c17.7 0 32 14.3 32 32zm64 64c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l192 0zM192 352c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l32 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
  --resource-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fb923c' d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
  --faq-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%239ca3af' d='M256 448c141.4 0 256-93.1 256-208S397.4 32 256 32S0 125.1 0 240c0 45.1 17.7 86.8 47.7 120.9c-1.9 24.5-11.4 46.3-21.4 62.9c-5.5 9.2-11.1 16.6-15.2 21.6c-2.1 2.5-3.7 4.4-4.9 5.7c-.6 .6-1 1.1-1.3 1.4l-.3 .3 0 0 0 0 0 0 0 0c-4.6 4.6-5.9 11.4-3.4 17.4c2.5 6 8.3 9.9 14.8 9.9c28.7 0 57.6-8.9 81.6-19.3c22.9-10 42.4-21.9 54.3-30.6c31.8 11.5 67 17.9 104.1 17.9zM169.8 149.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 248.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V234.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM288 336c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z'/%3E%3C/svg%3E");
}

[data-theme="dark"] {
  --h1: #{$blue-300};
  --h2: #{$blue-200};
  --h3: #{$blue-200};
  --h4: #{$blue-200};
  --nav-width: 5rem;
  --toggle: #{$white};
  --background-color: #{$gray-900};
  --primary-bg: #{$gray-800};
  --text-color: #{$white};
  --text-muted: #{$gray-200};
  --link-color: #{$blue};
  --link-visited: #a78bfa;
  --icon: #{$white};
  --flag: #{$white};
  --sidebar: #{$gray-900};
  --blockquote: #{$gray-100};
  --caption: #{$gray-200};
  --border: #{$white};
  --logo: #{$white};
  --brand: #{$white};
  --logoColor1: #{$white};
  --logoColor2: #{$white};
  --logoColor3: #{$white};
  --logoColor4: #{$white};
  --logoColor5: #{$white};
  --outline: 1px solid hsla(0, 0%, 100%, 0.2);
  --light: none;
  --dark: flex;
  --invert: invert(1);
  --button: #{$blue-950};
  --toc-header: #{$gray-700};
  --toc-header-hover: #{$gray-800};
  --text-muted: #{$gray-400};
  --outcomes: #{$gray-900};
  --outcomes-stroke: #{$blue-400};
  --tools: #{$gray-900};
  --tools-stroke: #{$yellow-400};
  --resources: #{$gray-900};
  --resources-stroke: #{$orange-400};
  --faq: #{$gray-900};
  --faq-stroke: #{$gray-400};
  --tool-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fbbf24' d='M78.6 5C69.1-2.4 55.6-1.5 47 7L7 47c-8.5 8.5-9.4 22-2.1 31.6l80 104c4.5 5.9 11.6 9.4 19 9.4h54.1l109 109c-14.7 29-10 65.4 14.3 89.6l112 112c12.5 12.5 32.8 12.5 45.3 0l64-64c12.5-12.5 12.5-32.8 0-45.3l-112-112c-24.2-24.2-60.6-29-89.6-14.3l-109-109V104c0-7.5-3.5-14.5-9.4-19L78.6 5zM19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L233.7 374.3c-7.8-20.9-9-43.6-3.6-65.1l-61.7-61.7L19.9 396.1zM512 144c0-10.5-1.1-20.7-3.2-30.5c-2.4-11.2-16.1-14.1-24.2-6l-63.9 63.9c-3 3-7.1 4.7-11.3 4.7H352c-8.8 0-16-7.2-16-16V102.6c0-4.2 1.7-8.3 4.7-11.3l63.9-63.9c8.1-8.1 5.2-21.8-6-24.2C388.7 1.1 378.5 0 368 0C288.5 0 224 64.5 224 144l0 .8 85.3 85.3c36-9.1 75.8 .5 104 28.7L429 274.5c49-23 83-72.8 83-130.5zM56 432a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z'/%3E%3C/svg%3E");
  --outcome-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2360a5fa' d='M448 96c0-35.3-28.7-64-64-64L64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320zM256 160c0 17.7-14.3 32-32 32l-96 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l96 0c17.7 0 32 14.3 32 32zm64 64c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l192 0zM192 352c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l32 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
  --resource-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fb923c' d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
  --faq-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%239ca3af' d='M256 448c141.4 0 256-93.1 256-208S397.4 32 256 32S0 125.1 0 240c0 45.1 17.7 86.8 47.7 120.9c-1.9 24.5-11.4 46.3-21.4 62.9c-5.5 9.2-11.1 16.6-15.2 21.6c-2.1 2.5-3.7 4.4-4.9 5.7c-.6 .6-1 1.1-1.3 1.4l-.3 .3 0 0 0 0 0 0 0 0c-4.6 4.6-5.9 11.4-3.4 17.4c2.5 6 8.3 9.9 14.8 9.9c28.7 0 57.6-8.9 81.6-19.3c22.9-10 42.4-21.9 54.3-30.6c31.8 11.5 67 17.9 104.1 17.9zM169.8 149.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 248.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V234.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM288 336c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z'/%3E%3C/svg%3E");
}

// Smooth Scrolling
html {
  scroll-behavior: smooth;
  height: 100%;
}

// Fader
#fader {
  background: var(--background-color);
}

// Body
body {
  position: relative;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt" 1, "frac" 1, "case" 1, "ccmp" 1, "ss01" 1,
    "ss02" 1, "ss03" 1, "zero" 1;
  overflow-y: scroll;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: padding 0.5s ease-in-out, all 0.5s ease-in-out;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}

// Accessibility
.themetoggle,
.toctoggle,
.title {
  background: none;
  color: var(--icon);
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0 0.5rem 0;

  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;

  & .inline-svg {
    top: 0;
    border-radius: 0.25rem;
  }

  &:focus-visible,
  &:focus {
    outline: 2px solid var(--text-color);
  }
}

.themetoggle,
.toctoggle {
  font-size: 0.875rem;
}

.title div {
  line-height: 1.25;
}

// Backgrounds
.background-white {
  background-color: $white;
}

.background-black {
  background-color: $black;
}

.background-primary {
  background-color: var(--primary-bg);
}

.background-secondary {
  background-color: $secondary;
}

.background-banner {
  background-image: url(img/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "ss01" 1, "ss03" 1, "zero" 1, "cv02" 1, "cv11" 1;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h1 {
  color: var(--h1);
  font-weight: 800;
}

h2 {
  color: var(--h2);
  font-weight: 700;
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
}

// SVG
.inline-svg {
  display: inline-flex;
  justify-content: center;
  height: 1em;
  width: 1em;
  top: 0.1em;
  position: relative;
}

// Logo
.logoShape {
  fill: var(--logo);
}

.logoColors {
  fill: var(--brand);
}

.logoColors-1 {
  fill: var(--logoColor1);
}

.logoColors-2 {
  fill: var(--logoColor2);
}

.logoColors-3 {
  fill: var(--logoColor3);
}

.logoColors-4 {
  fill: var(--logoColor4);
}

.logoColors-5 {
  fill: var(--logoColor5);
}

// Navbar + sidebar
.navbar-toggler {
  font-size: 1.5rem;
  border: none;
  color: var(--icon);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow: auto;
  overscroll-behavior-y: contain;

  & .container {
    padding-top: 0.05rem;
  }
}

.overlay a:not(.navbar-brand, .closebtn) {
  text-decoration: none;
  font-size: 1.25rem;
  padding-block: 0.5rem;
  display: block;
  font-weight: 500;
}

.overlay li a {
  font-size: 1rem !important;
}

.overlay .closebtn {
  border: none;
  outline: none;
  background: none;
  color: var(--icon);
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
}

// Extra
.dim {
  opacity: 0.5;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--sidebar);
  padding: 1.5rem 1.5rem 0 1.5rem;
  z-index: 100;
  outline: var(--outline);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;

  & .hidden-text,
  & .hidden {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  & .close {
    display: none;
  }

  & .open {
    display: flex;
  }

  & .themetoggle,
  & .toctoggle {
    & .inline-svg {
      height: 1.5em;
      width: 1.5em;
      top: 0;
      margin-left: 0.3rem;
    }
  }
}

.sun,
.open {
  display: var(--dark);
}

.moon,
.close {
  display: var(--light);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  width: calc(var(--nav-width) + 270px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav_logo,
.nav_link {
  display: grid;
  //grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.3rem 0 0.3rem 1.5rem;
}

.nav_link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 0.5rem;

  &:hover,
  &:focus-visible {
    color: $primary;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 0.3rem;
      height: 32px;
      border-radius: 2px;
      background-color: $primary;
    }
  }
}

.show {
  left: 0;

  & .close {
    display: flex;
  }

  & .open {
    display: none;
  }
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  font-weight: 600;
}

.active:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.3rem;
  height: 32px;
  border-radius: 2px;
  background-color: $primary;
}

.height-100 {
  height: 100vh;
}

// Report content
.report-title {
  font-size: 4rem;
  font-weight: 700;
  color: $white;
}

.report-subtitle {
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 500;
  color: $white;
}

.toc-header {
  padding: 1rem;
  color: var(--text-color);
  background-color: var(--toc-header);
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 0.75rem;

  &:hover,
  &:focus-visible {
    color: inherit;
    background-color: var(--toc-header-hover);
  }
}

#TableOfContents {
  & ul {
    list-style: none;
    border-left: 2px solid var(--border);
    margin-left: 2rem;
    padding-left: 1rem;
  }
  & li {
    padding-block: 0.25rem;
    position: relative;

    &:hover a:before {
      left: -1.2rem;
      width: 0.25rem;
      top: 0;
      content: "";
      position: absolute;
      height: 32px;
      border-radius: 2px;
      background-color: $primary;
    }

    & a {
      text-decoration: none;
      color: var(--icon);

      &.active:before {
        content: "";
        left: -1.2rem;
        width: 0.25rem;
        top: 0;
      }
    }
  }
}

// Dropdown ToC on mobile
.dropdown-menu {
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--button);

  & #TableOfContents {
    & ul {
      list-style: none;
      margin-inline: auto;
      border-left: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    & li {
      padding-block: 0.4rem;
      padding-inline: 0.75rem;
      position: relative;

      &:hover {
        background-color: var(--toc-header);
      }

      & a {
        text-decoration: none;
        display: block;
      }
    }
  }
}

.dropdown button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: $white;
  background-color: var(--button) !important;

  &:hover,
  &:active {
    color: $gray-100;
  }

  &::after {
    content: none;
  }

  &.show svg path {
    d: path(
      "M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
    );
  }
}

figcaption {
  font-size: 0.75rem;
  margin-top: 1rem;
  color: var(--caption);
}

.footnotes li:target {
  padding: 0.25rem 0.5rem;
  outline: solid 2px #aaa;
}

.text-muted {
  color: var(--text-muted) !important;
}

@media screen and (min-width: 768px) {
  body {
    padding-left: var(--nav-width);
  }

  .left-sidebar {
    left: 0;
  }

  .show {
    width: calc(var(--nav-width) + 320px);
    & .hidden-text,
    & .hidden {
      opacity: 1;
      transition-delay: 0.5s;
    }
    & .nav {
      opacity: 1;
      transition-delay: 0.5s;
    }
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 320px);
  }
}

// Posts
.post-content {
  position: relative;

  & h2,
  h3 {
    margin-top: 2rem;
  }

  & a {
    color: var(--link-color);

    &:visited {
      color: var(--link-visited);
    }

    &:hover,
    &:active,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  & .anchor-tag {
    margin-left: 0.5rem;
    text-decoration: none;
    color: var(--text-color);

    & .inline-svg {
      width: 0.75em;
      height: 0.75em;
      top: 0em;
    }

    &:hover,
    &:focus-visible,
    &:active {
      .inline-svg {
        color: var(--link-color);
      }
    }

    &:visited {
      color: var(--link-visited);
    }
  }

  & figure {
    text-align: center;
    padding-block: 1.5rem;

    &.wide {
      left: 50%;
      margin-left: -32.5vw;
      margin-right: -32.5vw;
      max-width: 65vw;
      position: relative;
      right: 50%;
    }
  }

  & p + ul {
    margin-top: 0;
  }

  & ul {
    margin-bottom: 2.5rem;
  }

  & ul li {
    margin-bottom: 0.2rem;

    &:has(input[type="checkbox"]) {
      list-style-type: none;
    }
  }

  & hr {
    border-top: 2px solid;
    margin: 2.5rem 0;
  }

  & img {
    max-width: 100%;
  }

  & figure.full img {
    width: 100%;
  }

  & figure.invert img {
    filter: var(--invert);
  }

  & figure.smaller {
    text-align: start;

    & img {
      width: 250px;
    }
  }

  & .outcomes {
    color: var(--text-color);
    background-color: var(--outcomes);
    border: 2px solid var(--outcomes-stroke);
    padding: 1.25rem 2rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    position: relative;

    &:after {
      content: var(--outcome-icon);
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    & h2 {
      color: var(--text-color);
      margin-top: 1rem;
    }

    & a {
      color: var(--text-color);
    }
  }

  & .faq {
    color: var(--text-color);
    background-color: var(--faq);
    border: 2px solid var(--faq-stroke);
    padding: 1.25rem 2rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    position: relative;

    &:after {
      content: var(--faq-icon);
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    & h2 {
      color: var(--text-color);
      margin-top: 1rem;
    }

    & h3 {
      margin-top: 1rem;
    }

    & a {
      color: var(--text-color);
    }
  }

  & .tools {
    color: var(--text-color);
    background-color: var(--tools);
    border: 2px solid var(--tools-stroke);
    padding: 1.25rem 2rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    position: relative;

    &:after {
      content: var(--tool-icon);
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    & h2 {
      color: var(--text-color);
      margin-top: 1rem;
    }

    & a {
      color: var(--text-color);
    }
  }

  & .resources {
    color: var(--text-color);
    background-color: var(--resources);
    border: 2px solid var(--resources-stroke);
    padding: 1.25rem 2rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    position: relative;

    &:after {
      content: var(--resource-icon);
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    & h2 {
      color: var(--text-color);
      margin-top: 1rem;
    }

    & a {
      color: var(--text-color);
    }
  }

  & .footnotes {
    & p {
      margin-bottom: 0.5rem;
    }
  }

  & blockquote {
    padding: 0 0 0 1.5rem;
    border-left: 0.5rem solid var(--blockquote);
    font-style: italic;
    margin-block: 1.5rem;
  }

  & table {
    width: 100%;
    border: var(--border);
  }

  & thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    color: var(--text-color);
    border-width: 1px;
    border-collapse: collapse;
    padding: 0.5rem 1.25rem;
    background: transparent;
  }

  & .table {
    position: relative;
    display: block;
    overflow-x: auto;
    margin-block: 1.5rem;

    & th {
      color: $white;
      background-color: $blue-800;
    }
  }
}

// Pagination
.pagination-content {
  & a {
    color: var(--text-muted);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .inline-svg {
    top: 0;
  }
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
  clip-path: none;
  color: var(--text-color);
  background-color: var(--background-color);
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 0.25rem;
  left: 0.25rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  z-index: 25;
}

@media screen and (max-width: 992px) {
  .report-title {
    font-size: 3rem;
  }
  .report-subtitle {
    font-size: 1.85rem;
  }
  .left-sidebar {
    display: none !important;
  }
  .nav_link {
    padding: 0.3rem 0 0.3rem 1rem;
  }
  body,
  .body-pd {
    padding-left: 0;
  }
  .post-content .table {
    overflow-x: auto;
    left: 0;
    right: 0;
    margin-inline: 0;
    max-width: 100vw;
  }
  .post-content .resources,
  .post-content .faq,
  .post-content .outcomes,
  .post-content .tools {
    padding: 0.75rem 1.25rem;

    & h2 {
      max-width: 85%;
    }

    &:after {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}
